@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(18, 18, 18);
  color: white;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 1px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #e4e3dd;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase !important
}

.react-tabs__tab--selected {
  background: #181818;
  border-color: #aaa !important;
  color: orange;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 3px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  top: 30px;
  background: #e4a00e;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}